@model sca.aktinesconsulting.web.Models.SCAVersionModel

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "History";
    ViewData["BreadcrumbHeader"] = "SCA Version";
    ViewData["BreadcrumbPage"] = "Booking Entry";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
                <h3 class="portlet-title">Booking Entry - Versions</h3>
            </div>
            <div class="portlet-body">
                <div class="col-md-12">
                    <div class="row" style="padding:10px">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div style="display:flex">
                                    <span style="min-width:30%">Uploaded Version</span>
                                    <select class="form-control" id="cmbSCAVersions">
                                        <option value="0">Select</option>
                                        @{
                                        foreach(var version in Model.Versions){
                                        <option value=@version.SCAVersionId>@version.Name</option>
                                        }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnFilter" type="button" class="btn btn-primary mar"><i class="fa fa-filter" style="margin-right:5px"></i>Filter</button>
                        <button id="btnReset" type="button" class="btn btn-outline-info" style="margin-left:5px"><i class="fa fa-undo" style="margin-right:5px"></i>Reset</button>
                    </div>
                </div>


                <hr />
                <div>
                    <table id="dtBookingEntry" class="table table-bordered table-striped table-hover dataTable no-footer dtr-inline">
                        <thead>
                            <tr>
                                <td>FULL_AWB</td>
                                <td>BOOKING_DATE</td>
                                <td>FLIGHT_DEP_DATE</td>
                                <td>BOOKING_TIME</td>
                                <td>FLIGHT_DEP_TIME</td>
                                <td>BKG_ORIGIN</td>
                                <td>BKG_DESTN</td>
                                <td>BKG_RATE_TYPE</td>
                                <td>AGENT</td>
                                <td>AGENT_NAME</td>
                                <td>BKG_DEST_COUNTRY</td>
                                <td>BKG_DEST_REGION</td>
                                <td>BKG_LAST_UPDATED_BY</td>
                                <td>BKG_ORIGIN_COUNTRY</td>
                                <td>BKG_ORIGIN_EXT_SALES_AREA</td>
                                <td>BKG_ORI_REGION</td>
                                <td>BKG_REF</td>
                                <td>CHANNEL_CD</td>
                                <td>SPH_CODES</td>
                                <td>CHARGEABLE_WT</td>
                                <td>CURRENCY_CD</td>
                                <td>REV GBP</td>
                                <td>REV FOREIGN</td>
                                <td>YIELD GBP</td>
                                <td>YIELD FOREIGN</td>
                                <td>VOLUME</td>
                                <td>PRODUCT_CODE</td>
                                <td>PRODUCT_NAME</td>
                                <td>FLIGHT_NUMBER</td>
                                <td>METAL_INFO</td>
                                <td>ExceptionId</td>
                                <td>ExceptionDescription</td>
                                <td>ExceptionRuleExist</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
<script src="~/app/sca-version.js" asp-append-version="true"></script>
}