################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sca.aktinesconsulting.core/obj/Debug
/sca.aktinesconsulting.core/obj/Release
/sca.aktinesconsulting.entitiy/obj/Debug
/sca.aktinesconsulting.entitiy/obj/Release
/packages/EPPlus.Core.1.5.4
/sca.aktinesconsulting.core/bin/Debug
/sca.aktinesconsulting.entitiy/bin/Debug
/sca.aktinesconsulting.service/bin/Debug
/sca.aktinesconsulting.service/obj/Debug
/sca.aktinesconsulting.windows/bin/Debug
/sca.aktinesconsulting.windows/obj/Debug
/sca.aktinesconsulting.web/bin/Debug/net5.0
/sca.aktinesconsulting.web/obj
/packages
/sca.aktinesconsulting.core/obj
/sca.aktinesconsulting.infrastructure/bin/Debug/netcoreapp3.1
/sca.aktinesconsulting.infrastructure/obj
/sca.aktinesconsulting.repository/bin/Debug/netcoreapp3.1
/sca.aktinesconsulting.repository/obj
/sca.aktinesconsulting.web/bin/Debug/netcoreapp3.1
/sca.aktinesconsulting.database/bin/Debug
/sca.aktinesconsulting.database/obj/Debug
/sca.aktinesconsulting.database/sca.aktinesconsulting.database.dbmdl
/sca.aktinesconsulting.database/sca.aktinesconsulting.database.jfm
