################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sca.aktinesconsulting.core/obj/Debug
/sca.aktinesconsulting.core/obj/Release
/sca.aktinesconsulting.entitiy/obj/Debug
/sca.aktinesconsulting.entitiy/obj/Release
/packages/EPPlus.Core.1.5.4
/sca.aktinesconsulting.core/bin/Debug
/sca.aktinesconsulting.entitiy/bin/Debug
/sca.aktinesconsulting.service/bin/Debug
/sca.aktinesconsulting.service/obj/Debug
/sca.aktinesconsulting.windows/bin/Debug
/sca.aktinesconsulting.windows/obj/Debug
