@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "v";
    ViewData["BreadcrumbHeader"] = "SCA Exception";
    ViewData["BreadcrumbPage"] = "Process";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
                <h3 class="portlet-title">Booking Entry Manual input</h3>
            </div>
            <div class="portlet-body">
                <div class="d-grid gap-3">
                    <div class="col-md-6">
                        <form asp-controller="SCAException" asp-action="ProcessBookingEntry" asp-antiforgery="false"
                              id="fmUpload" method="post"
                              enctype="multipart/form-data">
                            <div class="modal-body" style="padding:10px">
                                <div class="flex-column">
                                    <label for="formFile" class="form-label">Select File</label>
                                    <input class="form-control" type="file" id="formFile" accept=".xlsx">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button id="btnUpload" type="button" class="btn btn-primary mar" fdprocessedid="3hmaxr" style="margin-right:5px"><i class="fa fa-play-circle" style="margin-right:5px"></i>Process</button>
                                <button type="button" class="btn btn-outline-success" fdprocessedid="igougf" data-bs-toggle="modal" data-bs-target="#modal10"><i class="fa fa-gear" style="margin-right:5px"></i>Setting</button>

                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <div>
                    <table id="dtBookingEntry" class="table table-bordered table-striped table-hover dataTable no-footer dtr-inline">
                        <thead>
                            <tr>
                                <td>AWB</td>
                                <td>BookingCreatedDate</td>
                                <td>FlightDepartureDate</td>
                                <td>BOOKING_TIME</td>
                                <td>FLIGHT_DEP_TIME</td>
                                <td>BookingOrigin</td>
                                <td>BookingDestination</td>
                                <td>BookingRateType</td>
                                <td>CURRENCY_CD</td>
                                <td>AgentCode</td>
                                <td>AgentName</td>
                                <td>BookingDestinationCountry</td>
                                <td>BookingDestinationRegion</td>
                                <td>BookingLastUpdatedBy</td>
                                <td>BookingOriginCountry</td>
                                <td>BookingOriginSalesArea</td>
                                <td>BookingOriginRegion</td>
                                <td>BookingReference</td>
                                <td>Channel</td>
                                <td>SpecialHandlingCodes</td>
                                <td>ChargeableWeight</td>
                                <td>RevGBP</td>
                                <td>Volume</td>
                                <td>ProductCode</td>
                                <td>ProductName</td>
                                <td>FlightNumber</td>
                                <td>MetalInfo</td>
                                <td>ExceptionId</td>
                                <td>ExceptionDescription</td>
                                <td>ExceptionRuleExist</td>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal10" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configure SCA Exception Rules</h5>
                <button type="button" class="btn btn-label-danger btn-icon" data-bs-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                 
                            <div class="row">
                                @*Booking Origin*@
                                <div class="col-md-3 col-sm-6">
                                    Booking Origin
                                    <select id="cmbBookingOrigin" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude Booking Origin
                                    <select id="cmbExcludeBookingOrigin" data-placeholder="Choose anything" multiple style="background:#FAD5A5">
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>

                                @*Booking Destination*@
                                <div class="col-md-3 col-sm-6">
                                    Booking Destination
                                    <select id="cmbBookingDestination" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude Booking Destination
                                    <select id="cmbExcludeBookingDestination" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                @*Booking Rate Type*@
                                <div class="col-md-3 col-sm-6">
                                    Booking Rate Type
                                    <select id="cmbBookingRateType" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude Booking Rate Type
                                    <select id="cmbExcludeBookingRateType" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>

                                @*Agent Code*@
                                <div class="col-md-3 col-sm-6">
                                    Agent Code
                                    <select id="cmbAgentCode" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude Agent Code
                                    <select id="cmbExcludeAgentCode" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                @*Booking Destination Country*@
                                <div class="col-md-3 col-sm-6">
                                    Booking Destination Country
                                    <select id="cmbBookingDestinationCountry" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude Booking Destination Country
                                    <select id="cmbExcludeBookingDestinationCountry" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>

                                @*Booking Destination Region*@
                                <div class="col-md-3 col-sm-6">
                                    Booking Destination Region
                                    <select id="cmbBookingDestinationRegion" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude  Booking Destination Region
                                    <select id="cmbExcludeBookingDestinationRegion" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                @*Booking Origin Country*@
                                <div class="col-md-3 col-sm-6">
                                    Booking Origin Country
                                    <select id="cmbBookingOriginCountry" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude Booking Origin Country
                                    <select id="cmbExcludeBookingOriginCountry" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                            
                                @*Booking Origin Sales Area*@
                                <div class="col-md-3 col-sm-6">
                                    Booking Origin Sales Area
                                    <select id="cmbBookingOriginSalesArea" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude Booking Origin Sales Area
                                    <select id="cmbxcludeBookingOriginSalesArea" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                @*BookingOriginRegion*@
                                <div class="col-md-3 col-sm-6">
                                    Booking Origin Region
                                    <select id="cmbBookingOriginRegion" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude Booking Origin Region
                                    <select id="cmbExcludeBookingOriginRegion" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                           
                                @*Channel*@
                                <div class="col-md-3 col-sm-6">
                                    Channel
                                    <select id="cmbChannel" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude Channel
                                    <select id="cmbExcludeChannel" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                @*SpecialHandlingCodes*@
                                <div class="col-md-3 col-sm-6">
                                    SpecialHandlingCodes
                                    <select id="cmbSpecialHandlingCodes" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude SpecialHandling Codes
                                    <select id="cmbExcludeSpecialHandlingCodes" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>

                                @*ProductCode*@
                                <div class="col-md-3 col-sm-6">
                                    ProductCode
                                    <select id="cmbProductCode" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    Exclude Product Code
                                    <select id="cmbExcludeProductCode" data-placeholder="Choose anything" multiple>
                                        <option>Christmas Island</option>
                                        <option>South Sudan</option>
                                        <option>Jamaica</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="padding:10px">
                                @*Chargeable Weight*@
                                <div class="col-md-3 col-sm-6" style=" margin-top: 20px;">
                                    Chargeable Weight
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked="">
                                    By Condition
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <select class="form-control">
                                        <option>Select</option>
                                        <option><</option>
                                        <option><=</option>
                                        <option>=</option>
                                        <option>></option>
                                        <option>>=</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-control" id="txtChargeableWeight" type="text">
                                </div>
                                <div class="col-md-3 col-sm-6">

                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked="">
                                    By Range
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div style="display:flex">
                                        <span style="margin-top: 5px">From</span> <input class="form-control" id="txtChargeableWeightFrom" type="text" style="margin-left:20px;">
                                    </div>

                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div style="display:flex">
                                        <span style="margin-top: 5px">To</span> <input class="form-control" id="txtChargeableWeightTo" type="text" style="margin-left: 20px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:10px">
                                @*Volume*@
                                <div class="col-md-3 col-sm-6" style=" margin-top: 20px;">
                                    Volume
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked="">
                                    By Condition
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <select class="form-control">
                                        <option>Select</option>
                                        <option><</option>
                                        <option><=</option>
                                        <option>=</option>
                                        <option>></option>
                                        <option>>=</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-control" id="txtChargeableWeight" type="text">
                                </div>
                                <div class="col-md-3 col-sm-6">

                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked="">
                                    By Range
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div style="display:flex">
                                        <span style="margin-top: 5px">From</span> <input class="form-control" id="txtChargeableWeightFrom" type="text" style="margin-left:20px;">
                                    </div>

                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div style="display:flex">
                                        <span style="margin-top: 5px">To</span> <input class="form-control" id="txtChargeableWeightTo" type="text" style="margin-left: 20px;">
                                    </div>
                                </div>
                            </div>
                     

                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    <style>
        .buttons-colvis {
            margin: 5px;
        }

        .buttons-excel {
            margin: 5px;
        }

        .bg_color {
            background-color: blue !important;
        }
    </style>
}
@section Scripts {

    <script src="~/app/sca-exception.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $('#cmbBookingOrigin').select2();
            $('#cmbExcludeBookingOrigin').select2();
            $('#cmbBookingDestination').select2();
            $('#cmbExcludeBookingDestination').select2();
            $('#cmbBookingRateType').select2();
            $('#cmbExcludeBookingRateType').select2();
            $('#cmbAgentCode').select2();
            $('#cmbExcludeAgentCode').select2();
            $('#cmbBookingDestinationCountry').select2();
            $('#cmbExcludeBookingDestinationCountry').select2();
            $('#cmbBookingDestinationRegion').select2();
            $('#cmbExcludeBookingDestinationRegion').select2();
            $('#cmbBookingOriginCountry').select2();
            $('#cmbExcludeBookingOriginCountry').select2();
            $('#cmbBookingOriginSalesArea').select2();
            $('#cmbxcludeBookingOriginSalesArea').select2();
            $('#cmbBookingOriginRegion').select2();
            $('#cmbExcludeBookingOriginRegion').select2();
            $('#cmbChannel').select2();
            $('#cmbExcludeChannel').select2();
            $('#cmbSpecialHandlingCodes').select2();
            $('#cmbExcludeSpecialHandlingCodes').select2();
            $('#cmbProductCode').select2();
            $('#cmbExcludeProductCode').select2();
        })

    </script>

}