@using System.Security.Claims
@using sca.aktinesconsulting.web.Common
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "v";
    ViewData["BreadcrumbHeader"] = "SCA Exception";
    ViewData["BreadcrumbPage"] = "Process";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
                <h3 class="portlet-title">Booking Entry Manual input</h3>
            </div>
            <div class="portlet-body">
                <div class="d-grid gap-3">
                    <div class="col-md-6">
                        <form asp-controller="SCAException" asp-action="ProcessBookingEntry" asp-antiforgery="false"
                              id="fmUpload" method="post"
                              enctype="multipart/form-data">
                            <div class="modal-body" style="padding:10px">
                                <div class="flex-column">
                                    <label for="formFile" class="form-label">Select File</label>
                                    <input class="form-control" type="file" id="formFile" accept=".xlsx">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button id="btnUpload" type="button" class="btn btn-primary mar" fdprocessedid="3hmaxr" style="margin-right:5px"><i class="fa fa-play-circle" style="margin-right:5px"></i>Process</button>
                                @{
                                    if (User.IsAllowed(Permissions.SCARule,PermissionType.Create))
                                    {
                                    <button id="btnExceptions" type="button" class="btn btn-outline-info" fdprocessedid="igougf" data-bs-toggle="modal" data-bs-target="#modal10" style="margin-right:5px"><i class="fa fa-list" style="margin-right:5px"></i>Exceptions</button>
                                    }
                                }
                                <button id="btnVersionHistory" type="button" class="btn btn-outline-info" fdprocessedid="igougf" data-bs-toggle="modal" data-bs-target="#modal10"><i class="fa fa-list" style="margin-right:5px"></i>Version History</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <div>
                    <table id="dtBookingEntry" class="table table-bordered table-striped table-hover dataTable no-footer dtr-inline">
                        <thead>
                            <tr>
                                <td>FULL_AWB</td>
                                <td>BOOKING_DATE</td>
                                <td>FLIGHT_DEP_DATE</td>
                                <td>BOOKING_TIME</td>
                                <td>FLIGHT_DEP_TIME</td>
                                <td>BKG_ORIGIN</td>
                                <td>BKG_DESTN</td>
                                <td>BKG_RATE_TYPE</td>
                                <td>AGENT</td>
                                <td>AGENT_NAME</td>
                                <td>BKG_DEST_COUNTRY</td>
                                <td>BKG_DEST_REGION</td>
                                <td>BKG_LAST_UPDATED_BY</td>
                                <td>BKG_ORIGIN_COUNTRY</td>
                                <td>BKG_ORIGIN_EXT_SALES_AREA</td>
                                <td>BKG_ORI_REGION</td>
                                <td>BKG_REF</td>
                                <td>CHANNEL_CD</td>
                                <td>SPH_CODES</td>
                                <td>CHARGEABLE_WT</td>
                                <td>CURRENCY_CD</td>
                                <td>REV GBP</td>
                                <td>REV FOREIGN</td>
                                <td>YIELD GBP</td>
                                <td>YIELD FOREIGN</td>
                                <td>VOLUME</td>
                                <td>PRODUCT_CODE</td>
                                <td>PRODUCT_NAME</td>
                                <td>FLIGHT_NUMBER</td>
                                <td>METAL_INFO</td>
                                <td>ExceptionId</td>
                                <td>ExceptionDescription</td>
                                <td>ExceptionRuleExist</td>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>

                </div>
            </div>
        </div>

    </div>
</div>




@section Styles{
    <style>
        .buttons-colvis {
            margin: 5px;
        }

        .buttons-excel {
            margin: 5px;
        }

        .bg_color {
            background-color: blue !important;
        }
    </style>
}
@section Scripts {

    <script src="~/app/sca-exception.js" asp-append-version="true"></script>


}