@{
    Layout = "_LayoutPlain";
}

@{
    ViewData["Title"] = "Login";
}

<div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
    <div class="portlet">
        <div class="portlet-body">
            <div class="text-center mt-4 mb-5">
                <div class="avatar avatar-label-primary avatar-circle widget12">
                    <div class="avatar-display"><i class="fa fa-user-alt"></i></div>
                </div>
            </div>
            <form class="d-grid gap-3" id="login-form" novalidate="novalidate" asp-action="login" method="post">
                <div class="validation-container">
                    <div class="form-floating"><input class="form-control form-control-lg" type="email" id="email" name="email" placeholder="Please insert your email" fdprocessedid="54w7eq"> <label for="email">Email</label></div>
                </div>
                <div class="validation-container">
                    <div class="form-floating"><input class="form-control form-control-lg" type="password" id="password" name="password" placeholder="Please insert your password" fdprocessedid="vbpvyf"> <label for="password">Password</label></div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="validation-container">
                        <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="remember" name="remember"> <label class="form-check-label" for="remember">Remember me</label></div>
                    </div>
                    <a href="#">Forgot password?</a>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <span>Don't have an account? <a href="../../pages/register/register-1.html">Register</a></span>
                    <button type="submit" class="btn btn-label-primary btn-lg btn-widest" fdprocessedid="ao4lt" id="btnLogin">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/app/login.js" asp-append-version="true"></script>
}