@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Exceptions";
    ViewData["BreadcrumbHeader"] = "SCA Exception";
    ViewData["BreadcrumbPage"] = "Setting";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-header portlet-header-bordered">
                <h3 class="portlet-title">SCA Exceptions</h3>
                <button id="btnAdd" type="button" class="btn btn-primary"><i class="fa fa-add" style="margin-right:5px"></i>Add</button>
            </div>
            <div class="portlet-body">
                <div>
                    <table id="dtExceptions" class="table table-bordered table-striped table-hover dataTable no-footer dtr-inline" style="text-align:center">
                        <thead>
                            <tr style="text-align:center">
                                <td>Id</td>
                                <td>Edit</td>
                                <td>Delete</td>
                                <td>Start Date</td>
                                <td>End Date</td>
                                <td>Description</td>
                                <td>BookingOrigin</td>
                                <td>BookingDestination</td>
                                <td>BookingRateType</td>
                                <td>AgentCode</td>
                                <td>BookingDestinationCountry</td>
                                <td>BookingDestinationRegion</td>
                                <td>BookingOriginCountry</td>
                                <td>BookingOriginSalesArea</td>
                                <td>BookingOriginRegion</td>
                                <td>Channel</td>
                                <td>SpecialHandlingCodes</td>
                                <td>ProductCode</td>
                                <td>MetalInfo</td>
                                <td>ExcludeBookingOrigin</td>
                                <td>ExcludeBookingDestination</td>
                                <td>ExcludeBookingRateType</td>
                                <td>ExcludeBookingDestinationRegion</td>
                                <td>ExcludeAgentCode</td>
                                <td>ExcludeBookingDestinationCountry</td>
                                <td>ExcludeBookingOriginCountry</td>
                                <td>ExcludeBookingOriginSalesArea</td>
                                <td>ExcludeBookingOriginRegion</td>
                                <td>ExcludeChannel</td>
                                <td>ExcludeSpecialHandlingCodes</td>
                                <td>ExcludeProductCode</td>
                                <td>ExcludeMetalInfo</td>
                                <td>ChargeableWeight</td>
                                <td>ChargeableWeightRangeFrom</td>
                                <td>ChargeableWeightRangeTo</td>
                                <td>Volume</td>
                                <td>VolumeRangeFrom</td>
                                <td>VolumeRangeTo</td>

                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>

                </div>
            </div>
        </div>

    </div>
</div>



@section Styles{
    <style>
        .buttons-colvis {
            margin: 5px;
        }

        .buttons-excel {
            margin: 5px;
        }

        .bg_color {
            background-color: blue !important;
        }
    </style>
}
@section Scripts {
    <script src="~/app/sca-exception-setting.js" asp-append-version="true"></script>
}